<h2><%= t( :title, :scope => [ :projects, name ] ) %></h2>
<p><%= t( :description, :scope => [ :projects, name ] ) %></p>
<ul>
  <li>
    <%= link_to t( :learn_more, :scope => [ :root, :index ] ), :controller => name  %>
  </li>

  <% if github %>
      <li>
        <%= link_to t( :github, :scope => [ :root, :index ] ), github %>
      </li>
  <% end %>


  <% if demo %>
      <li>
        <%= link_to t( :demo, :scope => [ :root, :index ] ), demo %>
      </li>
  <% end %>

</ul>
