<div class="project col-md-6">
    <div class="line"></div>
    <h2><%= t( :title, :scope => [ :projects, name ] ) %></h2>
    <p><%= t( :description, :scope => [ :projects, name ] ) %></p>
    <p>
      <%= link_to t( :learn_more, :scope => :application ), :controller => name  %>
      <%= raw !github ? '' : ' | ' + link_to( t( :github, :scope => :application ), github ) %>
      <%= raw !demo ? '' : '| ' + link_to( t( :demo, :scope => :application ), demo ) %>
    </p>
</div>

