<h1><%= t( :title, :scope => :application ) %></h1>
<div class="row">
    <%= root_project( :meter_cat, METER_CAT_GITHUB_URL, meter_cat_path ) %>
    <%= root_project( :spec_cat, SPEC_CAT_GITHUB_URL ) %>
    <%= root_project( :split_cat, SPLIT_CAT_GITHUB_URL, split_cat_path ) %>
    <%= root_project( :status_cat, STATUS_CAT_GITHUB_URL, status_cat_path ) %>
</div>



