<h1><%= t( :welcome, :scope => [ :root, :index ] ) %></h1>

<h2><%=  t( :title, :scope => [ :root, :index, :spec_cat ] ) %></h2>
<p><%=  t( :description, :scope => [ :root, :index, :spec_cat ] ) %></p>
<ul>
  <li>
    <%= link_to t( :github, :scope => [ :root, :index ] ), SPEC_CAT_GITHUB_URL %>
  </li>
</ul>

<h2><%=  t( :title, :scope => [ :root, :index, :status_cat ] ) %></h2>
<p><%=  t( :description, :scope => [ :root, :index, :status_cat ] ) %></p>
<ul>
  <li>
    <%= link_to t( :github, :scope => [ :root, :index ] ), STATUS_CAT_GITHUB_URL %>
  </li>
  <li>
    <%= link_to t( :demo, :scope => [ :root, :index ] ), status_cat_path %>
  </li>
</ul>

<h2><%=  t( :title, :scope => [ :root, :index, :meter_cat ] ) %></h2>
<p><%=  t( :description, :scope => [ :root, :index, :meter_cat ] ) %></p>
<ul>
  <li>
    <%= link_to t( :github, :scope => [ :root, :index ] ), METER_CAT_GITHUB_URL %>
  </li>
  <li>
    <%= link_to t( :demo, :scope => [ :root, :index ] ), meter_cat_path %>
  </li>
</ul>


