<!DOCTYPE html>
<html>
<head>
  <title><%= t( :title, :scope => :application ) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="header">
      <div class="container">
        <%= image_tag 'logo.png', :id =>'logo'  %>
        <span><%= t( :title, :scope => :application ) %></span>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
</body>
</html>
